.fieldMessage{
    height: 80%;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.587);
    outline: none;
    padding: 10px 10px;
    transition: all .3s;
}
.styled {
    height: 80%;
    border-radius: 5px;
    border: 1px solid red;
    box-shadow: 0 0 2px red;
    outline: none;
    padding: 10px 10px;
    transition: all .3s;
}