.fieldMessage{
    height: 80%;
    border-radius: 5px;
    border: 2px solid rgba(47, 218, 67, 0.587);
    outline: none;
    padding: 10px 10px;
    transition: all .3s;
}
.styled {
    height: 80%;
    border-radius: 5px;
    border: 2px dashed #e64b4b;
    box-shadow: 0 0 2px #e64b4b;
    outline: none;
    padding: 10px 10px;
    transition: all .3s;
}